[data-theme="light"] {
  --color-primary: theme("colors.pink.500");
  --color-secondary: theme("colors.indigo.500");
  --color-text: theme("colors.gray.900");
  --color-text-offset: theme("colors.gray.600");
  --color-background: theme("colors.gray.50");
  --color-background-offset: theme("colors.gray.100");
  --color-border: theme("colors.gray.900" / 10%);
}

[data-theme="dark"] {
  --color-primary: theme("colors.sj-primary");
  --color-secondary: theme("colors.sj-secondary");
  --color-text: theme("colors.sj-text");
  --color-text-offset: theme("colors.sj-text-offset");
  --color-background: theme("colors.sj-background");
  --color-background-offset: theme("colors.sj-background-offset");
  --color-border: theme("colors.sj-primary" / 10%);
}
