---
import HeroImage from "~/components/hero-image.astro";
---

<footer class="relative flex h-64 items-center justify-center text-white">
  <div class="absolute inset-0 overflow-hidden">
    <HeroImage />
    <div class="absolute inset-0 bg-black/50"></div>
  </div>
  <div class="relative text-center">
    <p>&copy; {new Date().getFullYear()} Soul Journey. All rights reserved.</p>
  </div>
</footer>